<md-bottom-sheet class="md-list md-has-header card-alone" ng-controller="AloneCtrl">
  <md-list class="md-list">
    <md-list-item ng-repeat="ciclovia in ciclovias" class="ciclovia-item">
      <figure class="ciclovia-icon">
        <img src="images/icons/{{ ciclovia.icon }}.png" alt="">
      </figure>

      <div class="ciclovia-info">
        <h3>{{ ciclovia.title }}</h3>
        <p>{{ ciclovia.address }}</p>
        <span>{{ ciclovia.distance }}</span>
      </div>
    </md-list-item>

    <button class="col-xs-12 tracar-rota" ng-click="tracarRota($index, ciclovia.lat)">
      Traça rota
    </button>
  </md-list>
</md-bottom-sheet>
