@font-face {
  font-family: 'helveticaneueltstd';
  src: url('../../fonts/helveticaneueltstd-bd.eot');
  src: url('../../fonts/helveticaneueltstd-bd.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/helveticaneueltstd-bd.woff') format('woff'),
  url('../../fonts/helveticaneueltstd-bd.ttf') format('truetype'),
  url('../../fonts/helveticaneueltstd-bd.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd-ltex';
  src: url('../../fonts/helveticaneueltstd-ltex.eot');
  src: url('../../fonts/helveticaneueltstd-ltex.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/helveticaneueltstd-ltex.woff') format('woff'),
  url('../../fonts/helveticaneueltstd-ltex.ttf') format('truetype'),
  url('../../fonts/helveticaneueltstd-ltex.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
