@font-face {
    font-family: 'HelveticaNeueLTStd75Bold';
    src: url('helveticaneueltstd-bd.eot');
    src: url('helveticaneueltstd-bd.eot') format('embedded-opentype'),
         url('helveticaneueltstd-bd.woff2') format('woff2'),
         url('helveticaneueltstd-bd.woff') format('woff'),
         url('helveticaneueltstd-bd.ttf') format('truetype'),
         url('helveticaneueltstd-bd.svg#HelveticaNeueLTStd75Bold') format('svg');
}
