@font-face {
    font-family: 'source';
    src: url('../../fonts/sourcesanspro-regular.eot');
    src: url('../../fonts/sourcesanspro-regular.eot') format('embedded-opentype'),
         url('../../fonts/sourcesanspro-regular.woff') format('woff'),
         url('../../fonts/sourcesanspro-regular.ttf') format('truetype'),
         url('../../fonts/sourcesanspro-regular.svg#source') format('svg');
}