html, body {
	height: 100%;
}

%content {
  position: absolute;
  font-size: 2em;
  text-align: center;
  height: 100%;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  color: $black;
  text-transform: uppercase;
  z-index: 20000001;
  background: rgba(255, 255, 255, .6);
  padding-top: 80%;
}

body {
  font-family: 'source', arial, sans-serif;
	font-size: 62.5%;
  &.loading {
    &::before {
      content: "Coletando dados...";
      @extend %content;
    }
  }
  &.error {
    &::before {
      content: "Tente em alguns minutos.";
      @extend %content;
      color: red;
    }
  }
}

a {
	text-decoration: none;
}

input {
	border: none;
}

.center {
	margin: 0 auto;
	width: 990px;
}

%title {
  text-transform: uppercase;
  padding: 20px 10px;
}

.canvas-title {
  @extend %title;
  font-size: 1.8em !important;
}

.canvas-list {
  @extend %title;
  border-bottom: 1px solid #262626;
  a {
    padding-bottom: 20px;
    padding-left: 50px !important;
    font-size: 2em;
    border: none !important;
    position: relative;
    &.alone {
      &::before {
        content: "";
        background: transparent url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male-32.png") no-repeat center center;
      }
    }
    &.group {
      &::before {
        content: "";
        background: transparent url("https://cdn2.iconfinder.com/data/icons/pittogrammi/142/88-32.png") no-repeat center center;
      }
    }
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      left: 10px;
      top: 5px;
    }
  }
}

.legend-list {
  // height: 170px;
  max-height: 330px;
  overflow-y: auto;
}

.legend-item {
  background: blue;
  padding: 10px 20px 10px 30px;
  font-size: 1.2em;
  color: $black;
  background-color: #fff;
  position: relative;
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background: $black !important;
    display: inline-block;
    position: absolute;
    left: 10px;
  }
}

.tab-bar {
  display: inline-block;
  width: 70%;
  margin-top: 5%;
  left: 5%;
  background: #ffffff;
  border: 1px solid $black;
  .menu-icon {
    span {
      &::after {
        content: "";
        box-shadow: 0 0px 0 1px $black, 0 7px 0 1px $black, 0 14px 0 1px $black;
      }
    }
  }

  h1 {
    color: $black !important;
  }
}


.title-primary {
  text-transform: uppercase;
  position: relative;
  font-size: 1.2em !important;
  left: 3px !important;
  color: $black;
}

label.canvas-title {
  padding: 20px !important;
  font-size: 2em;
  span {
    text-transform: lowercase;
    background: #ffffff !important;
    display: inline-block !important;
    margin-left: 15px;
    font-size: .2em;
    vertical-align: middle;
  }
}

.left-off-canvas-menu {
  height: 870%;
  padding-bottom: 20px;
  background: #ffffff;
}

ul.off-canvas-list {
  li {
    a {
      color: $black;
    }

    label {
      color: $black;
      background-color: #fff;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }
}

.right-small {
  top: 25%;
  right: 5%;
  background: #fff;
  border: none;
  a {
    background: url("https://cdn1.iconfinder.com/data/icons/free-mobile-icon-kit/32/Balloon.png") no-repeat center center;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $black;
  }
}


// MAP

#map {
  width: 100%;
  height: 100%;
  z-index: -99999;
  top: -11%;
}

.off-canvas-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000000;
  background: rgba(255, 255, 255, .4);
}


// EXTEND
%item {
  padding: 20px;
  background: #ffffff;
  border-bottom: 1px solid $black;
  position: relative;
}

%nome {
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: 800;
  text-transform: uppercase;
}

%distancia {
  color: rgba(0,0,0, .4);
  display: block;
  margin: 5px 0;
  font-size: 1.2em;
}

%list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  // z-index: 900;
}

%icons {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  position: absolute;
}



// LIST LOCAIS

.main-section {
  width: 100%;
  min-height: 510px;
  position: absolute;
  height: auto;
}

.locais-list {
  @extend %list;
  z-index: 901;
}

.locais-item {
  @extend %item;
}

.locais-distancia {
  @extend %distancia;
}

.locais-nome {
  @extend %nome;
}

.locais-tipo {
  display: block;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 1.2em;
  padding: 2px;
}

// types
.rota {background: pink;}
.praca {background: gray;}
.parque {background: red;}
.ciclovia {background: orange;}
.ciclofaixa {background: green;}
.ciclofaixa-movel {background: blue}


// GROUPS

// level
.starter {color: green;}
.advanced {color: purple;}
.intermediate {color: red;}

.grupos-list {
  @extend %list;
  z-index: 902;
}

.grupos-item {
  @extend %item;
}

.grupos-nome {
  @extend %nome;
}

.grupos-level {
  display: inline-block;
  margin: 10px 0 5px 0;
  font-size: 1.2em;
  padding: 2px;
  position: relative;
  vertical-align: top;
}

.grupos-preco {
  padding: 2px;
  display: inline-block;
  margin: 0 10px;
}

.grupos-apoio {
  padding: 2px;
  display: inline-block;
}

.grupos-distancia {
  @extend %distancia;
}

// price
.paid {
  @extend %icons;
  right: 50px;
  background: url('https://cdn1.iconfinder.com/data/icons/dot/64/usd_dollar_money_cash.png');
  background-size: 100%;
}

// apoio
.yes-apoio {
  @extend %icons;
  right: 15px;
  background: url('https://cdn2.iconfinder.com/data/icons/pittogrammi/142/13-64.png') ;
  background-size: 100%;
}




